* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sign-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}
.sign-container {   
    position: relative;
    margin-bottom: 5%;
    width: 70vw;
    height: 80vh;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px;
    overflow: hidden;
}
.sign-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #df4adf, #520852);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}
.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.title {
    font-size: 35px;
    color: #df4adf;
    margin-bottom: 10px;
}
.input-field {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #df4adf;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.input-field input::placeholder{
    font-size: 18px;
  }
  .input-field input:focus ~ label,
.input-field input:valid ~ label{
  transform: translateY(-17px);
  font-size: 14px;
  left: 16.7%;
  top: 18px;
}
.signin-signup .input-field label{
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  bottom: 13px;
  left: 17%;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-field span{
    position: absolute;
    left: 86%;
    font-size: 20px;
    color: #8e44ad;
    cursor: pointer;
    display: none;
  }
  .input-field input:valid ~ span{
    display: block;
  }
  .input-field span i.hide-btn::before{
    content: "\f070";
  }
.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #df4adf;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover {
    background: #c03cc0;
}
.social-text {
    margin: 10px 0;
    font-size: 16px;
    color: black;
    text-align: center;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin-top: 20px;
    margin-right: 40px;
    transition: all 0.3s ease;
}
.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Add transition for smooth animation */
}
a {
    text-decoration: none;
}
.social-icon:hover {
    color: #fff;
    border-color: #df4adf;
    background: #df4adf;
    box-shadow: 0 0 10px #df4adf, 0 0 0px #df4adf, 0 0 0px #df4adf;
  }

.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}
.left-panel {
    pointer-events: none;
}

.content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}
.panel h3 {
    font-size: 24px;
    font-weight: 600;
}
.panel p {
    font-size: 15px;
    padding: 10px 0;
}
.image {
    max-height: 100%;
    width: 30%;
    margin-bottom: 1.5cm;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}
.left-panel .image,
.left-panel .content {
    transform: translateX(-350%);
}
.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}
.account-text {
    display: none;
}
/*Animation*/
.sign-container.sign-up-mode::before {
    transform: translateX(0);
}
.sign-container.sign-up-mode .right-panel .image,
.sign-container.sign-up-mode .right-panel .content {
    transform: translateX(300%);
}
.sign-container.sign-up-mode .left-panel .image,
.sign-container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}
.sign-container.sign-up-mode form.sign-in-form {
    opacity: 0;
}
.sign-container.sign-up-mode form.sign-up-form {
    opacity: 1;
}
.sign-container.sign-up-mode .right-panel {
    pointer-events: none;
}
.sign-container.sign-up-mode .left-panel {
    pointer-events: all;
}
/*Responsive*/
@media (max-width: 700px) {
    .sign-container {
        width: 90vw;
        height: 75vh;
    }
}

@media (max-width: 400px) {
    .sign-container {
        width: 90vw;
        height: 75vh;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .sign-container.sign-up-mode2 {
        background: #f0f0f0;
    }
    .sign-container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .sign-container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
    .sign-container {
        background: black;
    }
    .social-text {
        color: white;
    }
    .account-text {
        color: white;
    }
    .image {
        max-height: 100%;
        width: 30%;
    }
    .social-icon {
        color: white;
    }
    .input-field {
        box-shadow: #df4adf 0px 20px 40px -15px;
    }
}

@media (max-width: 320px) {
    form {
        width: 90%;
    }
    .sign-container {
        background: black;
        flex-direction: column-reverse;
    }
    .image {
        max-height: 100%;
        width: 30%;
        order: 1;
    }
    form.sign-in-form,
    form.sign-up-form {
        order: 2;
    }
    .social-text,
    .account-text,
    .social-icon {
        color: white;
    }
    .input-field {
        box-shadow: #df4adf 0px 20px 40px -15px;
    }
}