.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.events-section {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

/* .events-scroll-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 0px;
    justify-content: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
} */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
    width: 100%;
  }
  
  .image-container img {
    width: 40%;
    height: 40%;
    flex-shrink: 0;
    margin: 1rem;
  }
  @media screen and (min-width: 768px) {
    .image-container img {
      width: 90%;
    }
    
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 9;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  