.event-name {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.event-card-container .event-card-details .event-card-text p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;

}

.event-card-container {
  height: 436px;
  width: 95%;
  background-size: contain;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.6s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.event-card-content {
  position: absolute;
  bottom: 0rem;
  height: 80px;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.event-card-details {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-card-text {
  text-align: left;
  color: #fff;
  line-height: 2rem;
  padding-bottom: -2rem;
}

.read-more-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.read-more-btn {
  background: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.read-more-btn:hover {
  background: #000;
  color: #fff;
  border: #fff solid 2px;
  /* transform: scale(1.1); */
}

.event-card-container:hover{
  /* transform: scale(1.1); */
  box-shadow: 0px 9px 19px -3px rgba(128, 44, 100, 0.75);
  border-radius: 10px;
}