.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../images/teambg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.team-section {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.team-grid {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 1500px;
}

.team-grid2 {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 1800px;
}

@media (max-width: 1300px) {
    .team-grid {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        max-width: 1200px;
    }
}

@media (max-width: 800px) {
    .team-grid {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        max-width: 750px;
    }
}

@media (max-width: 600px) {
    .team-grid {
        max-width: 500px;
    }
}
