:root{
  --primary-colour: #2c2c2c;
  --secondary-colour: #fff;
  --tertiary-colour: #363636;
}

@font-face {
  font-family: 'switzer';
  src: url('../fonts/Switzer-Variable.ttf');
}

body{
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  font-family: 'switzer';
}

/* // Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyB_aYNNLmvlTaQWLx_cVRPx2nFVJdRcWMM",
  authDomain: "murious-website-app.firebaseapp.com",
  projectId: "murious-website-app",
  storageBucket: "murious-website-app.appspot.com",
  messagingSenderId: "81848111675",
  appId: "1:81848111675:web:34c5759d6e22dfa97ac21e",
  measurementId: "G-PH0NG823JG"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app); */